---
layout: default
title: Home
notitle: true

role_groups:
    - [faculty, postdoc, staff]
    - [grad]

role_remain:
    - [collab, ugrad, ugrad-alum]
    - [alum]

---

<div class="jumbotron">
  <p>
      <b>Sampa</b> is an inter-disciplinary computer architecture group that explores <a href="{{ site.base }}/research/">research</a> crossing multiple layers of the system stack, from hardware to programming languages and applications. Our research is motivated by new device technologies and new applications. We are part of the <a href="http://www.cs.washington.edu/">Paul G. Allen School of Computer Science &amp; Engineering</a> at the <a href="http://www.washington.edu/">University of Washington</a>. We work closely with the <a href="http://uwplse.org">PLSE</a> and <a href="https://syslab.cs.washington.edu">Syslab</a> folks.
  </p>
</div>

<h2>News</h2>
<ul class="news">
{% for post in site.posts limit: site.front_page_news %}
{% include news-item.html item=post %}
{% endfor %}
    {% assign numposts = site.posts | size %}
    <li>
        <div class="icon"><i class="fa fa-history"></i></div>
        <div class="text"><a href="{{ site.base }}/{% if numposts >= site.front_page_news %}blog/{%else%}oldnews.html{%endif%}">Older news&hellip;</a></div>
    </li>
</ul>


<!-- <h2>Research Themes</h2>

<div class="card-columns">
{% for p in site.projects %}
{% if p.status != "inactive" %}
<div class="card {%if p.link or p.url%}link{%endif%}">
    {% if p.link %}
        {% assign proj_url = p.link %}
    {% else %}
        {% capture proj_url %}{{site.base}}{{p.url}}.html{% endcapture %}
    {% endif %}

    <a href="{{proj_url}}">
        <div class="card-block">
            <div class="title">
                {% if p.image %}
                    {% assign imgurl = p.image %}
                    {% capture init %}{{ p.image | slice: 0,1 }}{% endcapture %}
                    {% if init == "/" %}
                        {% capture imgurl %}{{site.base}}{{p.image}}{% endcapture %}
                    {% endif %}
                    <h3 class="card-title">
                        <img class="icon img-responsive" src="{{imgurl}}" alt="{{p.title}}"/>
                    </h3>
                {% endif %}
                <h3 class="card-title">{{p.title}}</h3>
            </div>
            <div class="card-text">
                {{ p.description | markdownify }}
            </div>
        </div>
        {% if p.people %}
        <div class="card-footer">
            {% include project-people.html people=p.people %}
        </div>
        {% endif %}
    </a>
</div>
{% endif %}
{% endfor %}
</div> -->

<h2>People</h2>

<div class="row">
{% for grp in page.role_groups %}
    <div class="col-md-{% if grp contains 'grad' %}8{% else %}4{% endif %}">
        {% for role in site.roles %}
        {% if grp contains role.key %}
            <h3>{{ role.name }}</h3>
            <ul class="people {{ role.key }}">
            {% for item in site.data.people %}
                {% assign person = item[1] %}
                {% if person.role == role.key %}
                <li>
                    {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}
                    {% assign imgurl = false %}
                    {% if person.image %}
                        {% capture init %}{{ person.image | slice: 0,2 }}{% endcapture %}
                        {% if init == "//" %}
                            {% assign imgurl = person.image %}
                        {% else %}
                            {% capture imgurl %}{{site.base}}{{person.image}}{% endcapture %}
                        {% endif %}
                    {% endif %}

                    {% if imgurl %}
                        <img class="img-circle profile" src="{{imgurl}}" />
                    {% else %}
                        <svg class="profile"><circle class="noprofile" /></svg>
                    {% endif %}
                    {% if person.webpage %}</a>{% endif %}
                    <div class="person">
                    {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}
                    <h4>{{person.display_name}}</h4>
                    {% if person.webpage %}</a>{% endif %}
                    {% if person.bio %}<p class="bio">{{person.bio}}</p>{% endif %}
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>

<!--Remaining roles (collaborators, undergrads, alumni) -->
<div class="row">
{% for grp in page.role_remain %}
    <div class="col-md-{% if grp contains "alum" %}7{% else %}5{% endif %}">
        {% for role in site.roles %}
        {% if grp contains role.key %}
            {% assign has_members = false %}
            {% for item in site.data.people %}
                {% assign person = item[1] %}
                {% if person.role == role.key %}
                    {% assign has_members = true %}
                {% endif %}
            {% endfor %}
            {% if has_members %}
                <h3>{{ role.name }}</h3>
                <ul class="people {{role.key}}">
                {% for item in site.data.people %}
                    {% assign person = item[1] %}
                    {% if person.role == role.key %}
                    <li>
                        {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}{{person.display_name}}{% if person.webpage %}</a>{% endif %}
                        {% if person.bio %} <span class="bio bio-inline">{{person.bio}}</span>{% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
{% endfor %}
</div>


<h2>Funding</h2>
<p>
Our work is supported by the National Science Foundation, the state of
Washington, the C-FAR Center for Future Architectures, DARPA, and generous gifts from Microsoft, Intel, Google, Qualcomm and NetApp.
</p>
