---
layout: default
title: Home
notitle: true
---

<div class="jumbotron">
  <p>
      <b>Sampa</b> is an inter-disciplinary group that explores <a href="{{ site.base }}/research/">research</a> crossing multiple layers of the system stack, from hardware to programming languages and applications. Our research is motivated by new device technologies and new applications. We are part of the <a href="http://www.cs.washington.edu/">Department of Computer Science &amp; Engineering</a> at the <a href="http://www.washington.edu/">University of Washington</a>. We work closely with the <a href="http://uwplse.org">PLSE</a> and <a href="https://syslab.cs.washington.edu">Syslab</a> folks. 	  
  </p>
</div>

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% else %}
<p><a href="{{ site.base }}/oldnews.html">Older news posts&hellip;</a></p>
{% endif %}

<h2>Funding</h2>
<p>
Our work is supported by the National Science Foundation, the state of
Washington, the C-FAR Center for Future Architectures, DARPA, and generous gifts from Microsoft, Intel, Google, Qualcomm and NetApp.
</p>
