---
layout: default
title: Home
notitle: true
---

<div class="jumbotron">
  <p>
      <b>Sampa</b> is an inter-disciplinary group that explores <a href="{{ site.base }}/research/">research</a> crossing multiple layers of the system stack, from hardware to programming languages and applications. Our research is motivated by new device technologies and new applications. We are part of the <a href="http://www.cs.washington.edu/">Department of Computer Science &amp; Engineering</a> at the <a href="http://www.washington.edu/">University of Washington</a>. We work closely with the <a href="http://uwplse.org">PLSE</a> and <a href="https://syslab.cs.washington.edu">Syslab</a> folks. 	  
  </p>
</div>

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% else %}
<p><a href="{{ site.base }}/oldnews.html">Older news posts&hellip;</a></p>
{% endif %}

<h2>Projects</h2>

<div class="card-columns">
{% for p in site.projects %}
<div class="card">
    <a href="{{p.url}}">
        <div class="text-center">
            {% if p.image %}
            {%if p.image | first == '/'%}
            <img class="icon card-img-top img-responsive" src="{{site.base}}{{p.image}}" alt="{{p.title}}"/>
            {% else %}
            <img class="icon card-img-top img-responsive" src="{{p.image}}" alt="{{p.title}}"/>
            {% endif %}
            {% endif %}
        </div>
        <div class="card-block">
            <h4 class="card-title text-center">{{p.title}}</h4>
            <p class="card-text">{{p.description}}</p>
        </div>
        {% if p.people %}
        <div class="card-footer">
            <ul class="project-people">
                {% for uname in p.people %}
                <li>
                {% if site.data.people[uname] %}
                    {% assign person = site.data.people[uname] %}
                    {% assign name = person.display_name %}
                    {% if person.image | first == '/' %}
                        {% capture imgurl %}{{site.base}}{{person.image}}{% endcapture %}
                    {% elsif person.image %}
                        {% assign imgurl = person.image %}
                    {% else %}
                        {% assign imgurl = false %}
                    {% endif %}
                    <a class="person" href="{{person.webpage}}">
                        {% if imgurl %}<img class="img-circle" src="{{imgurl}}" alt="{{name}}"/>{% endif %}
                    </a>
                {% else %}
                    <div>{{uname}}</div>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </a>
</div>
{% endfor %}
</div>


<h2>People</h2>
{% for role in site.roles %}
<h3>{{ role.name }}</h3>
<ul class="people">
{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
    <li class="person">
        {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}
        {% if person.image and person.role != 'alum' %}<img class="img-circle profile" src="{{site.base}}{{person.image}}" />{% endif %}
        {{person.display_name}}
        {% if person.webpage %}</a>{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endfor %}


<h2>People</h2>
{% for role in site.roles %}
    <h3>{{ role.name }}</h3>
    <div class="card-columns">
    {% for item in site.data.people %}
        {% assign person = item[1] %}
        {% if person.role == role.key %}
        <div class="card profile {{person.role}}">
            {% if person.webpage %}<a href="{{ person.webpage |escape }}">{% endif %}
            <div class="card-block">
                <h4 class="card-title">
                    {% if person.image %}<img class="img-circle profile" src="{{site.base}}{{person.image}}" />{% endif %}
                    {{person.display_name}}
                </h4>
            </div>
            {% if person.bio %}
            <div class="card-footer">
                <p class="card-text">
                    {{person.bio}}
                </p>
            </div>
            {% endif %}
            {% if person.webpage %}</a>{% endif %}
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endfor %}

<h2>Funding</h2>
<p>
Our work is supported by the National Science Foundation, the state of
Washington, the C-FAR Center for Future Architectures, DARPA, and generous gifts from Microsoft, Intel, Google, Qualcomm and NetApp.
</p>
