<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/sampa.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
          <div class="header">
            <ul class="nav nav-pills pull-right">
              <li><a href="/">Home</a></li>
              <li><a href="/people/">People</a></li>
              <li><a href="/publications/">Publications</a></li>
            </ul>
            <a href="/">
                <img src="/img/sampa.png" alt="Sampa" id="logo">
            </a>
          </div>

          {{ content }}

          <div class="footer">
            <p>Something for the footer</p>
          </div>

        </div> <!-- /container -->
    </body>
</html>
